h31{
    color: white;
    font-family: italic;
    font-size: 2.5rem;
    align-items: center;
    position: absolute;
    right: 46%;
    display: flex;
    padding: 6px;
    top: 153%;
}
.lodge1{
        color: white;
         top: 160%;
        align-items: center;
        position: absolute;
        right: 79%;
        display: flex;
        padding: 46px;
        font-size: 1.5rem;
    
}
.lodge2{
    color: white;
    top: 160%;
    align-items: center;
    position: absolute;
    right: 46%;
    display: flex;
    padding: 46px;
    font-size: 1.5rem;
}
.lodge3{
    color: white;
    top: 160%;
    position: absolute;
    right: 12%;
    display: flex;
    padding: 46px;
    font-size: 1.5rem;
}
.buttonTented{
    position: absolute;
    right: 80%;
    top: 188%;
    width: 12rem;
    height: 4rem;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(217, 217, 217, 0);
    color: rgba(238, 238, 238, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-radius: 40%;
}
.buttonCanopy{
    position: absolute;
    right: 49%;
    top: 188%;
    width: 12rem;
    height: 4rem;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(217, 217, 217, 0);
    color: rgba(238, 238, 238, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-radius: 40%;
}
.buttonFamily{
    position: absolute;
    right: 13%;
    top: 188%;
    width: 12rem;
    height: 4rem;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(217, 217, 217, 0);
    color: rgba(238, 238, 238, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-radius: 40%;
}
.Tented{
    top: 170%;
    position: absolute;
    right: 74%;
    
}
.Canopy{
    top: 170%;
    position: absolute;
    right: 39%;
    width: 540px;
    height: 367px;
}
.Family{
    top: 170%;
    position: absolute;
    right: 4%;
    width: 540px;
    height: 367px;
}
.Backgroundcolour{
    background-color: rgba(122, 131, 122, 0.8588);
    height: 67rem;
    

}
button:hover {
    background-color: blue;

  }